*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans serif;
  margin: 0;
}

body {
  background-color: #CFD8DC;
/*  font-weight: 400;
*/  padding: 0px;
}

/*Changed h1 size to fit screen width at desktop resolution. 
We will have to add a media query for responsiveness*/

h1 {
  font-weight: 800;
  font-size: 80px;
  text-align: center;
}

h2 {
  bottom: 15px;
  font-size: 36px;
  position: relative;
}

h1,
#btn-submit {
  color: #FFFFFF;
}

h1,
h2,
.card-read .read-button,
.card #website-link:hover,
.card .read-button:hover,
#btn-submit {
  font-weight: 800;
}

h2,
.read-button,
.delete-button {
  color: #455A64;
}

body,
#linked-list,
#card-storage {
  height: 100%;
}

.input-field {
  color: #BCBEC0;
  display: block;
  margin: auto;
}


.card {
  display: block;
  background: #FFFFFF;
  border: 1.5px solid #607D8B;
  padding: 20px;
  margin: 10px 0px 40px 0px;
  width: 100%;
}

.input-field,
#website-link {
  font-size: 28px;
}

/* Add appropriate spacing between inputs and submit buttons*/
 

#website-title-input, 
#website-url-input,
#btn-submit{
  margin-top: 7%;
} 

/* Moved a few declarations down to a shared seletor*/
/* The #linked-list section's height will show up correctly once a position of fixed or absolute is saved*/

#linked-list {
  background-color: #455A64;
  position: fixed;
}

/* container to hold title and input fields to center it */

#linked-list-container{
  margin: 27% auto;
}

#logo {
  height: 95px;
  vertical-align: middle;
  width: 95px;
}

#card-storage {
  padding: 20px;
  position: absolute;
  right: 12px;
}

#website-link {
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
  color: #607D8B;
  display:block;
  padding: 10px 0px;
  width: 100%;
  text-decoration-color: #F2F4F4;
}

/* Finalize positioning for read/delete buttons within card and apply appropriate hover states*/

.read-button{
  position: relative;
}

.delete-button{
  position: relative;
  float: right;
}

.delete-button,
.read-button {
  background-color: #FFFFFF;
  border: 0px;
  margin-top: 4%;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.delete-button:hover,
.read-button:hover,
#btn-submit:hover {
  cursor: pointer;
}

#btn-submit {
  background-color: #FFC107;
  border-color: #FFC107;
  border-radius: 0%;
  padding: 5px;
}

#btn-submit:hover {
  background-color: #FFD773;
  border-color: #FFD773;
}

#btn-submit,
.read-button,
.delete-button {
  font-size: 20px;
}

.input-field,
#btn-submit {
  width: 90%;
  margin-left: 5%;
}

#linked-list,
#card-storage {
  display: inline-block;
  width: 49%;
}

#website-link:hover,
.read-button:hover,
.delete-button:hover {
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.card-read,
.card-read .read-button,
.card-read .delete-button {
  background-color: #F2F4F4;
}

.card-read .read-button {
  color: #F05A28;
}

#website-link {
  text-decoration-color: #CFD8DC
}

.warning {
  margin-top: 15px;
  text-align: center;
  color: #FFC107;
  font-size: 25px;
}